.prompot__main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.prompot__container {
  width: 50%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.prompot__message-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-height: 475px;
  padding: 1rem;
}

.prompot__footer {
  font-size: 0.6rem;
  color: var(--text-secondary);
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
}

.prompot__footer-heart {
  color: red;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}

@media screen and (max-width: 768px) {
  .prompot__container {
    width: 90%;
    height: 100%;
    margin: auto;
  }
}
