.prompot__greet {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  text-align: center;
}

.prompot__greet-logo {
  height: 10rem;
}

.prompot__greet-text {
  font-size: 0.8rem;
  color: var(--white);
}
